<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phun Physics</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/chat.css" />
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    
    <% if(isSignedIn) { %>
        <%- include("../partials/navLoggedIn") %>
    <% } else { %>
        <%- include("../partials/nav") %>
    <% } %>

    <div id="mainBody">
        <h1 class="section-header" >Question</h1>
        <div id="question">
            <div class="card">
                <div class="header">
                <h2><%= question.title %></h2>
                <div class="line"></div>
                    <% if(question.posted_at) {
                        question.posted_at = question.posted_at.toLocaleDateString();
                    } 
                    else {
                        question.posted_at = 'Timeless';
                        }; %>
                    <h2 class="date"><%= question.posted_at %></h2>
                </div>
                <br/>
                <div class="body">
                    <p><%= question.body %></p>
                </div>
                <br />
                <div class="footer">
                    <p class="author"><%= question.author%></p>
                </div>
            </div>
        </div>
        <h2 class="section-header">Replies</h2>
        <div id="replyContainer">
            <% if(replies.length == 0) { %>
                <p>No replies yet. Be the first :)</p>
            <% } else { %>
                <% replies.forEach(reply => { %>
                    <div class="card">
                        <div class="header">
                        <h2><%= reply.title %></h2>
                        <div class="line"></div>
                            <% if(reply.posted_at) {reply.posted_at = reply.posted_at.toLocaleDateString();} else {reply.posted_at = "Timeless";} %>
                            <h2 class="date"><%= reply.posted_at%></h2>
                        </div>
                        <br/>
                        <div class="body">
                            <p><%= reply.body %></p>
                        </div>
                        <br />
                        <div class="footer">
                            <p class="author"><%= reply.author%></p>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </div>

        
    </div>
    <a href="../post-reply" id="postReply">
        <button class="post" id="replyButton">
        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="45" d="M256 112v288M400 256H112"/></svg>
        Reply
        </button>
    </a>
    
    <script>
        document.getElementById("postReply").href = "../post-reply/" + window.location.href.substring(window.location.href.indexOf("?"))
    </script>
</body>
</html>